{% extends 'core/base.html' %}

{% load static %}

{% block title %}
Cliente: {{ cliente.user.first_name }} | Hexagram Disquería
{% endblock title %}

{% block contenido %}
<div class="d-flex flex-column align-items-center gap-4 w-100">
  <div class="d-flex flex-column align-items-center border border-1 rounded-2 w-50 py-4 px-5 shadow-sm bg-light">
    <h2 class="mb-4 fs-2">Cliente: {{ cliente.user.first_name }} {{ cliente.user.last_name }}</h2>
    <div class="d-flex w-100 gap-4 justify-content-between ">
      <div class="d-flex flex-column">
        {% if cliente.avatar %}
        <img src="{{ cliente.avatar.url }}" alt="Avatar del cliente" style="width: 250px; border-radius: 10px;">
        {% else %}
        <img src="{% static 'core/img/default-product.webp' %}" alt="Imagen del producto por defecto"
          style="width: 250px; border-radius: 10px;">
        {% endif %}
      </div>
      <div class="d-flex flex-column w-100">
        <ul class="list-unstyled">
          <li class="mb-2" style="font-size: 13px;"><span class="fw-bold">Nombre de usuario:</span>
            {{cliente.user.username}}</li>
          <li class="mb-2" style="font-size: 13px;"><span class="fw-bold">Email:</span> {{cliente.user.email}}</li>
          <li class="mb-2" style="font-size: 13px;"><span class="fw-bold">Teléfono:</span> {{cliente.phone}}</li>
          <li class="mb-2" style="font-size: 13px;"><span class="fw-bold">Fecha de nacimiento:</span>
            {{cliente.birthdate}}</li>
          <li class="mb-2" style="font-size: 13px;"><span class="fw-bold">Fecha de registro:</span>
            {{cliente.user.date_joined}}</li>
          <li class="mb-2" style="font-size: 13px;"><span class="fw-bold">Último login:</span>
            {{cliente.user.last_login}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-start w-50">
    <a href="{% url 'clientes:home' %}" type="button" class="btn btn-success w-100">
      Volver
    </a>
  </div>
</div>
{% endblock contenido %}