{% extends 'core/base.html' %}

{% block title %}
  Clientes | Hexagram Disquería
{% endblock title %}

{% block contenido %}
  <div class="d-flex flex-column align-items-center mb-4">
      <a class="btn btn-success w-50 mt-4 mb-4" href="{% url 'cliente:usuario_create' %}">
        Crear Usuario
      </a>
      <a class="btn btn-success mb-4 w-50" href="{% url 'cliente:cliente_create' %}">
        Crear Cliente
      </a>
  </div>
  <div class="d-flex flex-column align-items-center w-100">
    <h3>Buscar un cliente</h3>
    <form action="{% url 'cliente:home' %}" method="get" class="d-flex w-100 justify-content-center ">
      <input type="text" name="consulta" placeholder="Ingrese un nombre..." class="form-control w-25">
    </form>
  </div>
  <div class="d-flex flex-column align-items-center mt-4">
    {% if request.GET.consulta and clientes %}
      <h4>Resultados:</h4>
      <table class="table">
        <tr class="table-dark">
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Fecha de nacimiento</th>
          <th>Nombre de usuario</th>
          <th>Email</th>
        </tr>
        {% for cliente in clientes %}
          <tr>
            <td>{{cliente.name}}</td>
            <td>{{cliente.surname}}</td>
            <td>{{cliente.date}}</td>
            <td>{{cliente.user}}</td>
            <td>{{cliente.email}}</td>
          </tr>
        {% endfor %}
      </table>
      <a href="{% url 'cliente:home' %}?limpiar" class="btn btn-dark ml-2">Limpiar búsqueda</a>
    {% elif request.GET.consulta and not clientes %}
        <p>No se encontraron resultados.</p>
    {% endif %}
  </div>
{% endblock contenido %}