{% load static %}

<nav class="d-flex navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-5 h-100">
    <a class="navbar-brand fw-bold d-flex align-items-center " href="{% url 'core:home' %}">
      <img class="me-2" src="{% static 'core/img/hexagram-logo-navbar.webp' %}" alt="Logo de la disquería">
      <p class="p-0 m-0 ">Hexagram Disquería</p>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'core:home' %}">Home</a>
        </li>
        {% if not user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:about' %}">Nosotros</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'catalogo:home' %}">Catálogo</a>
        </li>
        {% if user.is_authenticated %}
        {% if user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'clientes:home' %}">Clientes</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ordenes:home' %}">{%if not user.is_staff%}Mis {%endif%}Órdenes</a>
        </li>
        <li class="nav-item ms-3">
          <div class="dropdown">
            <button class="btn btn-success " type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="d-flex gap-2">
                {{ user.username }}
                {% if user.is_staff or not user.client.avatar %}
                <img style="width: 25px;" src="{% static 'core/img/avatar_default.webp' %}" alt="Avatar administrador">
                {% else %}
                <img style="width: 25px; border-radius: 50%;" src="{{ user.client.avatar.url }}" alt="Avatar cliente">
                {% endif %}
              </div>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'core:logout' %}">Cerrar sesión</a>
              </li>
            </ul>
          </div>
        </li>
        {% else %}
        <li class="nav-item ms-3">
          <a class="btn btn-outline-success nav-link" href="{% url 'core:login' %}">Iniciar sesión</a>
        </li>
        <li class="nav-item ms-3">
          <a class="btn btn-outline-info  nav-link" href="{% url 'core:register' %}">Registrarse</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>