{% extends 'core/base.html' %}

{% block title %}
{% if form.instance.pk %}
Editar
{% else %}
Añadir
{% endif %}
Producto | Hexagram Disquería
{% endblock title %}

{% block contenido %}
<div class="d-flex flex-column align-items-center border border-1 rounded-2 w-50 p-4 shadow-sm bg-light">
  <h2 class="mb-3 fs-4">
    {% if form.instance.pk %}
    Editar
    {% else %}
    Añadir
    {% endif %}
    Producto
  </h2>
  <form method="post" class="d-flex flex-column w-100" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group d-flex gap-3">
      <div class="d-flex flex-column w-50">
        {{ form.name }}
      </div>
      <div class="d-flex flex-column w-50">
        {{ form.format }}
      </div>
    </div>
    <div class="form-group d-flex gap-3 mt-3">
      <div class="d-flex flex-column w-75">
        {{ form.genre }}
      </div>
      <div class="form-group d-flex gap-3">
        <div class="d-flex flex-column w-50">
          <input type="text" name="{{ form.price.name }}" class="form-control mb-2" id="{{ form.price.id_for_label }}"
            placeholder="{{ form.price.label }}" inputmode="numeric"
            oninput="this.value = this.value.replace(/[^0-9]/g, '')">
        </div>
        <div class="d-flex flex-column w-50">
          <input type="text" name="{{ form.stock.name }}" class="form-control mb-2" id="{{ form.stock.id_for_label }}"
            placeholder="{{ form.stock.label }}" inputmode="numeric"
            oninput="this.value = this.value.replace(/[^0-9]/g, '')">
        </div>
      </div>
    </div>
    <div class="form-group d-flex mt-3">
      <div class="d-flex flex-column w-100">
        {{ form.image }}
      </div>
    </div>
    <div class="d-flex justify-content-center gap-3">
      <button type="submit" class="btn btn-success w-50 mt-4 d-flex justify-content-center align-items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle"
          viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
          <path
            d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
        </svg>
        Confirmar
      </button>
      <a href="{% url 'catalogo:home' %}" type="button"
        class="btn btn-danger w-50 mt-4 d-flex justify-content-center align-items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle"
          viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
        </svg>
        Cancelar
      </a>
    </div>
  </form>
</div>
{% endblock contenido %}